<div class="formcontainer">
  <form onSubmit="" class="form">
    <img class="nav--logo" src="../../../assets/images/user.svg" alt="logo" />
    <h1 class="h1">Se connecter à votre compte</h1>
    <h2 class="h2">Se connecter avec</h2>
    <div class="social">
      <img class="fbiconlogin" src="../../../assets/images/google.svg" alt="" />

      <img class="googleiconlogin" src="../../../assets/images/fb.svg" alt="" />
    </div>
    <h2 class="h2">Ou utilisez votre mail</h2>
    <input class="input" type="email" placeholder="E-mail" />
    <input
      class="input"
      type="password"
      placeholder="Mot de passe"
    />

    <!-- <Btn id="signUp">Se connecter</Btn> -->
    <button class="btn" id="signUp">Se connecter</button>

    <h3 class="h3">mot de passe oublié?</h3>
  </form>
</div>
