<div class="card-header py-3">
  <h6 class="m-0 font-weight-bold text-primary">Listes des etudiants:</h6>
</div>
<div class="card-body">
  <div class="table-responsive">
    <table
      class="table table-bordered"
      id="dataTable"
      width="100%"
      cellspacing="0"
    >
      <thead>
        <tr>
          <th>#</th>
          <th>nom</th>
          <th>prenom</th>
          <th>section</th>
          <th>email</th>
          <th>action</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>bougacha</td>
          <td>amine</td>
          <td>IF4</td>
          <td>bougacha@gmail.com</td>
          <td style="text-align: center">
            <button
              type="button"
              class="btn btn-primary"
              style="margin-right: 20px"
            >
              modifier
            </button>
            <button type="button" class="btn btn-danger">supprimer</button>
          </td>
        </tr>
        <!-- <tr *ngFor="let etudiant of etudiants">
            <th scope="row">{{ etudiant.id }}</th>
            <td>{{ etudiant.lastname }}</td>
            <td>{{ etudiant.firstname }}</td>
            <td>{{ etudiant.section.name }}</td>
            <td>{{ etudiant.email }}</td>
            <td style="text-align: center;">
              <button type="button" class="btn btn-primary" style="margin-right: 20px;">modifier</button> 
              <button type="button" class="btn btn-danger" >supprimer</button>
            </td>
          </tr> -->
      </tbody>
    </table>
  </div>
</div>
