<div class="card-header py-3">
  <h6 class="m-0 font-weight-bold text-primary">Listes des etudiants:</h6>
</div>
<div class="card-body">
  <div class="table-responsive">
    <table
      class="table table-bordered"
      id="dataTable"
      width="100%"
      cellspacing="0"
    >
      <thead>
        <tr>
          <th>nom</th>
          <th>prenom</th>
          <th>section</th>
          <th>email</th>
          <th>action</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let etudiant of etudiants">
          <td>{{ etudiant.lastName }}</td>
          <td>{{ etudiant.firstName }}</td>
          <td>{{ etudiant.section ? etudiant.section.sectionName : "-" }}</td>
          <td>{{ etudiant.email }}</td>
          <td style="text-align: center">
            <button
              type="button"
              class="btn btn-primary"
              style="margin-right: 20px"
            >
              modifier
            </button>
            <button type="button" class="btn btn-danger">supprimer</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
