<div class="main">

  <header class="container">
    <a href="/#">
      <img class="logo" src="../../../assets/images/logo.svg" />
    </a>

    <nav class="items">
      <a routerLinkActive="active" class="navBarItem" *ngIf="showAdminBoard" href="/admin" > Dashbord </a>
      <a routerLinkActive="active" class="navBarItem" *ngIf="showProfessorBoard" href="/profile"> Prof profile </a>
      <a routerLinkActive="active" class="navBarItem" *ngIf="showEtudiantBoard" href="/etudaint"> Etudiant calendriers </a>
      <a routerLinkActive="active" class="navBarItem" *ngIf="showEtudiantBoard" href="/etudiant"> Etudiant profile </a>


      <a class="navBarItem"  *ngIf="!isLoggedIn" href="/register" routerLink="register"> Sign Up </a>
      <a class="navBarItem"   *ngIf="!isLoggedIn"href="/login" routerLink="login"> Login </a>
      <a href="/login" class="navBarItem" (click)="logout()" routerLink="login"   *ngIf="isLoggedIn">LogOut</a>


    </nav>

  </header>

</div>
