<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>heure</th>
        <th>lundi</th>
        <th>mardi</th>
        <th>mercredi</th>
        <th>jeudi</th>
        <th>Ovendredi</th>
        <th>samedi</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>8-10</td>
        <th scope="col">
          <button type="button" class="btn btn-success">
            salla 11 <br />
            SE <br />
            IF4
          </button>
        </th>
        <th scope="col">
          <button type="button" class="btn btn-secondary" id="mardi8" disabled></button>
        </th>
        <th scope="col">
          <button type="button" class="btn btn-secondary" disabled></button>
        </th>
        <th scope="col">
          <button type="button" class="btn btn-secondary" disabled></button>
        </th>
        <th scope="col">
          <button type="button" class="btn btn-success"></button>
        </th>
        <th scope="col">
          <button type="button" class="btn btn-success"></button>
        </th>
      </tr>

      <tr>
        <td>8-10</td>
        <th scope="col">
          <button type="button" class="btn btn-success">
            salla 11 <br />
            SE <br />
            IF4
          </button>
        </th>
        <th scope="col">
          <button type="button" class="btn btn-secondary" disabled></button>
        </th>
        <th scope="col">
          <button type="button" class="btn btn-secondary" disabled></button>
        </th>
        <th scope="col">
          <button type="button" class="btn btn-secondary" disabled></button>
        </th>
        <th scope="col">
          <button type="button" class="btn btn-success"></button>
        </th>
        <th scope="col">
          <button type="button" class="btn btn-success"></button>
        </th>
      </tr>

      <tr>
        <td>8-10</td>
        <th scope="col">
          <button type="button" class="btn btn-success">
            salla 11 <br />
            SE <br />
            IF4
          </button>
        </th>
        <th scope="col">
          <button type="button" class="btn btn-secondary" disabled></button>
        </th>
        <th scope="col">
          <button type="button" class="btn btn-secondary" disabled></button>
        </th>
        <th scope="col">
          <button type="button" class="btn btn-secondary" disabled></button>
        </th>
        <th scope="col">
          <button type="button" class="btn btn-success"></button>
        </th>
        <th scope="col">
          <button type="button" class="btn btn-success"></button>
        </th>
      </tr>

      <tr>
        <td>8-10</td>
        <th scope="col">
          <button type="button" class="btn btn-success">
            salla 11 <br />
            SE <br />
            IF4
          </button>
        </th>
        <th scope="col">
          <button type="button" class="btn btn-secondary" disabled></button>
        </th>
        <th scope="col">
          <button type="button" class="btn btn-secondary" disabled></button>
        </th>
        <th scope="col">
          <button type="button" class="btn btn-secondary" disabled></button>
        </th>
        <th scope="col">
          <button type="button" class="btn btn-success"></button>
        </th>
        <th scope="col">
          <button type="button" class="btn btn-success"></button>
        </th>
 
      </tr>
    </tbody>
  </table>
</div>
