<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>heure</th>
        <th>lundi</th>
        <th>mardi</th>
        <th>mercredi</th>
        <th>jeudi</th>
        <th>vendredi</th>
        <th>samedi</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>8:30-10:00</th>
        <td scope="col" *ngFor="let j of jours">
          <button
            type="button"
            class="btn btn-secondary"
            id="{{ j }}8:30-10:00"
            disabled
          ></button>
        </td>
      </tr>

      <tr>
        <th>10:15-11:45</th>
        <td scope="col" *ngFor="let j of jours">
          <button
            type="button"
            class="btn btn-secondary"
            id="{{ j }}10:15-11:45"
            disabled
          ></button>
        </td>
      </tr>

      <tr>
        <th>12:00-13:30</th>
        <td scope="col" *ngFor="let j of jours">
          <button
            type="button"
            class="btn btn-secondary"
            id="{{ j }}12:00-13:30"
            disabled
          ></button>
        </td>
      </tr>

      <tr>
        <th>13:45-15:15</th>
        <td scope="col" *ngFor="let j of jours">
          <button
            type="button"
            class="btn btn-secondary"
            id="{{ j }}13:45-15:5"
            disabled
          ></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
