.btn {
  height: 90px !important;
  width: 150px !important;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color:#E7F6F2 ; */
}

.table {
  margin-top: 20px;
}
