<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark saber cont">
  <img
    src="../../../../assets/images/logo.svg"
    style="width: 280px; height: 100px ; "
    alt=""
  />
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a
        class="nav-link text-white"
        aria-current="page"
        [routerLink]="['/dashboard']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <svg class="bi pe-none me-2" width="16" height="16">
          <use xlink:href="#home" />
        </svg>
        Dashboard
      </a>
    </li>
    <li>
      <a class="nav-link text-white" [routerLink]="['/tables']" routerLinkActive="active">
        <svg class="bi pe-none me-2" width="16" height="16">
          <use xlink:href="#table" />
        </svg>
        Tables
      </a>
    </li>
    <li>
      <a class="nav-link text-white" [routerLink]="['/addprof']" routerLinkActive="active">
        <svg class="bi pe-none me-2" width="16" height="16">
          <use xlink:href="#grid" />
        </svg>
        Ajouter Prof
      </a>
    </li>
    <li>
      <a
        class="nav-link text-white"
        [routerLink]="['/addetudiant']"
        routerLinkActive="active"
      >
        <svg class="bi pe-none me-2" width="16" height="16">
          <use xlink:href="#grid" />
        </svg>
        Ajouter Etudiant
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        <svg class="bi pe-none me-2" width="16" height="16">
          <use xlink:href="#grid" />
        </svg>
        Add data
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        <svg class="bi pe-none me-2" width="16" height="16">
          <use xlink:href="#people-circle" />
        </svg>
        Calendrier
      </a>
    </li>
    
  </ul>
  <hr style="color: white;" />
    <a
      href="#"
      class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <img
        src="../../../../assets/images/admin.png"
        alt=""
        width="32"
        height="32"
        style="margin-right: 10px;"
        class="rounded-circle "
      />
      <strong>{{ currentUser.username }}</strong>
    </a>


 
</div>


