<div class="card-header py-3">
  <h6 class="m-0 font-weight-bold text-primary">Listes des profs:</h6>
</div>
<div class="card-body">
  <div class="table-responsive">
    <table
      class="table table-bordered"
      id="dataTable"
      width="100%"
      cellspacing="0"
    >
      <thead>
        <tr>
          <th>nom</th>
          <th>prenom</th>
          <th>grade</th>
          <th>email</th>
          <th>section</th>
          <th>matiere</th>
          <th>action</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let prof of profs">
          <td>{{ prof.nom }}</td>
          <td>{{ prof.prenom }}</td>
          <td>{{ prof.grade }}</td>
          <td>{{ prof.email }}</td>
          <td>
            <ng-container *ngIf="prof.sections && prof.sections.length > 0; else noSections">
              <ul>
                <p *ngFor="let section of prof.sections">{{ section.sectionName }}</p>
              </ul>
            </ng-container>
            <ng-template #noSections>-</ng-template>
          </td>  
         <td>
            <ng-container *ngIf="prof.matieres && prof.matieres.length > 0; else noMatieres">
              <ul>
                <p *ngFor="let matiere of prof.matieres">{{ matiere.name }}</p>
              </ul>
            </ng-container>
            <ng-template #noMatieres>-</ng-template>
          </td>  
          <td style="text-align: center">
            <a routerLinkActive="active" href="/updateprof/{{ prof.username }}"
              ><button
                type="button"
                class="btn btn-primary"
                style="margin-right: 20px"
              >
                modifier
              </button>
            </a>
            <button
              type="button"
              class="btn btn-danger"
            >
              supprimer
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
