<div id="order" style="background-color: #e7f6f2">
  <div class="parent">
    <div class="container">
      <p class="text">Bienvenue Mr Foulen</p>
    </div>
    <img
      src="../../../assets/images/Toppagevector.png"
      alt="vector"
      id="vector"
    />
  </div>
  <img class="logoo" src="../../../assets/images/user.svg" alt="logo" />
  <div class="infoPersonnelles">
    <div
      style="
        position: relative;
        top: top;
        text-align: center;
        font-size: 36px;
        font-weight: bold;
        margin-left: 20px;
        cursor: default;
      "
    >
      <span style="color: #4cacc6">Informations</span>
      <span style="color: #000000"> Personnelles</span>
      <div
        style="
          width: 83px;
          height: 4px;
          margin: 5px auto;
          background-color: #0b6d87;
        "
      ></div>
      <div
        style="
          width: 40px;
          height: 4px;
          margin: 0px auto;
          background-color: #0b6d87;
          margin-bottom: 5px;
        "
      ></div>
    </div>

    <div class="formulaire">
      <form name="form" method="post">
        <div class="wrapper">
          <div class="box">
            <label class="label">Nom et prénom:</label>
            <div class="davdouv">
              <input
                class="input"
                value="Foulen Fouleni"
                id="name"
                type="text"
                name="name"
                required
              />
            </div>
          </div>

          <div class="box">
            <label class="label">Grade:</label>
            <div class="davdouv">
              <input
                class="input"
                value="el Master grade"
                id="numero"
                type="text"
                name="numero"
                required
              />
            </div>
          </div>
        </div>
        <div class="wrapper">
          <div class="box">
            <label class="label">CIN:</label>
            <div class="davdouv">
              <input
                class="input"
                value="11111111"
                id="ville"
                type="text"
                name="ville"
                required
              />
            </div>
          </div>
          <div class="box">
            <label class="label">Mot de passe:</label>
            <div class="davdouv">
              <input
                class="input"
                value="man9oulech"
                id="codePostal"
                type="text"
                name="codePostal"
                required
              />
            </div>
          </div>
        </div>
        <div class="wrapper">
          <div class="box">
            <label class="label">Email:</label>
            <div class="davdouv2">
              <input
                class="adress input"
                value="foulenfouleni@gmail.com"
                type="text"
                name="adress"
                required
              />
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="buttons">
    <div class="button1">
      <a href="/cart#cart">
        <button class="retour">Annuler</button>
      </a>
    </div>
    <div class="button2">
      <a
        style="pointer-events: none; opacity: 0.3"
        href="/ordersuccess#success"
      >
        <button class="sauvbtn">Sauvegarder</button>
      </a>
    </div>
  </div>

  <!-- <Toppage bgImg={true}>COMMANDER MAINTENANT!</Toppage> -->
  <div class="hiscontainer">
    <div
      style="
        position: relative;
        top: top;
        text-align: center;
        font-size: 36px;
        font-weight: bold;
        margin-left: 20px;
        cursor: default;
        padding-top: 40px;
      "
    >
      <span style="color: #4cacc6">Historique</span>
      <span style="color: #000000"> des Surveillances</span>
      <div
        style="
          width: 83px;
          height: 4px;
          margin: 5px auto;
          background-color: #0b6d87;
        "
      ></div>
      <div
        style="
          width: 40px;
          height: 4px;
          margin: 0px auto;
          background-color: #0b6d87;
          margin-bottom: 5px;
        "
      ></div>
    </div>
    <!-- <Title
            text1="Details"
            text2="de votre commande"
            color1="#46EDA7"
            color2="#000000"
            linecolor="#46EDA7"
          /> -->
  </div>
</div>
