<div id="order" style="background-color: #e7f6f2">
  <div class="parent">
    <div class="container">
      <p class="text">Bienvenue Mr {{ currentProf.prenom }}</p>
    </div>
    <img
      src="../../../assets/images/Toppagevector.png"
      alt="vector"
      id="vector"
    />
  </div>
  <img class="logoo" src="../../../assets/images/user.svg" alt="logo" />
  <div class="infoPersonnelles">
    <div
      style="
        position: relative;
        top: top;
        text-align: center;
        font-size: 36px;
        font-weight: bold;
        margin-left: 20px;
        cursor: default;
      "
    >
      <span style="color: #4cacc6">Informations</span>
      <span style="color: #000000"> Personnelles</span>
      <div
        style="
          width: 83px;
          height: 4px;
          margin: 5px auto;
          background-color: #0b6d87;
        "
      ></div>
      <div
        style="
          width: 40px;
          height: 4px;
          margin: 0px auto;
          background-color: #0b6d87;
          margin-bottom: 5px;
        "
      ></div>
    </div>

      <form #updateForm="ngForm" (ngSubmit)="onUpdateProf(updateForm)">
        <div class="formulaire">

        <div class="wrapper">
          <div class="box">
            <label class="label">Prénom:</label>
            <div class="davdouv">
              <input class="input" [(ngModel)]="currentProf.prenom" id="prenom" type="text" name="prenom" required />
            </div>
          </div>
          <input class="input" [(ngModel)]="currentProf.id" id="id" type="number" name="id" type="hidden" />
          <input class="input" [(ngModel)]="currentProf.username" id="username" type="text" name="username" type="hidden" />
          <input class="input" [(ngModel)]="currentProf.affectations" id="affectations" name="affectations" type="hidden" />
          <input class="input" [(ngModel)]="currentProf.sections" id="sections" type="text" name="sections" type="hidden" />
          <input class="input" [(ngModel)]="currentProf.matieres" id="matieres" type="number" name="matieres" type="hidden" />
          <input class="input" [(ngModel)]="currentProf.grade" id="grade" type="text" name="grade" required type="hidden" />

          <div class="box">
            <label class="label">Grade:</label>
            <div class="davdouv">
              <input class="input" [(ngModel)]="currentProf.grade" id="grade" type="text" name="grade" required  />
            </div>
          </div>
        </div>
        <div class="wrapper">
          <div class="box">
            <input class="input" [(ngModel)]="currentProf.grade" id="grade" type="text" name="grade" required type="hidden" />

            <label class="label">Nom :</label>
            <div class="davdouv">
              <input class="input" [(ngModel)]="currentProf.nom" id="nom" type="text" name="nom" required />
            </div>
          </div>
          <div class="box">
            <label class="label">Mot de passe:</label>
            <div class="davdouv">
              <input class="input" [(ngModel)]="currentProf.password" id="password" type="text" name="password" required />
            </div>
          </div>
        </div>
        <div class="wrapper">
          <div class="box">
            <label class="label">Email:</label>
            <div class="davdouv2">
              <input class="input" [(ngModel)]="currentProf.email" id="email" type="text" name="email" required />
            </div>
          </div>
        </div>
        <div class="buttons">
          <div class="button1">
              <button type="button" id="update-form" class="retour">Annuler</button>
          </div>
          <div class="button2">
              <button type="submit" class="sauvbtn">Sauvegarder</button>
          </div>
        </div>
      </div>

      </form>
  </div>


  <!-- <Toppage bgImg={true}>COMMANDER MAINTENANT!</Toppage> -->
  <div class="hiscontainer">
    <div
      style="
        position: relative;
        top: top;
        text-align: center;
        font-size: 36px;
        font-weight: bold;
        margin-left: 20px;
        cursor: default;
        padding-top: 40px;
      "
    >
      <span style="color: #4cacc6">Historique</span>
      <span style="color: #000000"> des Surveillances</span>
      <div
        style="
          width: 83px;
          height: 4px;
          margin: 5px auto;
          background-color: #0b6d87;
        "
      ></div>
      <div
        style="
          width: 40px;
          height: 4px;
          margin: 0px auto;
          background-color: #0b6d87;
          margin-bottom: 5px;
        "
      ></div>
      <div   class="cardsContainer" >
        <app-history-card *ngFor="let item of history ; index as i "
          number={{i+1}}
          imageUrl="../../../assets/images/Calendar.svg"
          date={{item.dayy}}
          section={{item.section!.sectionName}}
        ></app-history-card>

      </div>
      <div class="arrow-container">
        <div class="arrow left"></div>
        <div class="arrow right"></div>
      </div>
    </div>
  </div>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
</div>
