<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <app-side-bar></app-side-bar>
    </div>
    <div class="col-9">
      <div class="container-fluid">
        <!-- Page Heading -->
        <div
          class="d-sm-flex align-items-center justify-content-between mb-4"
        ></div>

        <!-- Content Row -->
        <div class="row">
          <!-- Earnings (Monthly) Card Example -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div
                      class="text-xs font-weight-bold text-primary text-uppercase mb-1"
                    >
                      Professors
                    </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">40</div>
                  </div>
                  <div class="col-auto">
                    <i class="fa-solid fa-user-tie" style="font-size: 50px"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Earnings (Monthly) Card Example -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div
                      class="text-xs font-weight-bold text-success text-uppercase mb-1"
                    >
                      Etudiants
                    </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                      1000
                    </div>
                  </div>
                  <div class="col-auto">
                    <i class="fa-solid fa-user" style="font-size: 50px"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Earnings (Monthly) Card Example -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div
                      class="text-xs font-weight-bold text-info text-uppercase mb-1"
                    >
                      Matieres
                    </div>
                    <div class="row no-gutters align-items-center">
                      <div class="col-auto">
                        <div
                          class="h5 mb-0 mr-3 font-weight-bold text-gray-800"
                        >
                          30
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-auto">
                    <i class="fa-solid fa-book" style="font-size: 50px"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Pending Requests Card Example -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div
                      class="text-xs font-weight-bold text-warning text-uppercase mb-1"
                    >
                      Sections
                    </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                  </div>
                  <div class="col-auto">
                    <i class="fa-solid fa-book" style="font-size: 50px"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa -->
        <!-- Content Row -->
        <!-- Content Column -->
        <div id="main-container">
          <div class="col-lg-6 mb-4">
            <!-- Project Card Example -->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">
                  Listes des Sections
                  <span class="add"
                    ><i
                      role="button"
                      (click)="onOpenModal(null, 'add')"
                      class="fa-solid fa-plus"
                    ></i
                  ></span>
                </h6>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-4 mb-4" *ngFor="let section of sections">
              <div class="card bg-dark section text-white shadow">
                <div class="card-body">
                  {{ section.sectionName }}
                  <div class="text-white-50 small">
                    <div class="divsection">
                      <i
                        class="fa-solid fa-pen update"
                        (click)="onOpenModal(section, 'edit')"
                        data-placement="top"
                        data-toggle="tooltip"
                        data-original-title="Edit"
                      ></i>
                      <i
                        class="fa-sharp fa-solid fa-trash delete"
                        (click)="onOpenModal(section, 'delete')"
                        data-placement="top"
                        data-toggle="tooltip"
                        data-original-title="Delete"
                      ></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Color System -->
          </div>
          <div class="col-lg-6 mb-4">
            <!-- Project Card Example -->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">
                  Listes des Matieres
                  <span class="add"
                    ><i
                      role="button"
                      (click)="onOpenModal(null, 'add')"
                      class="fa-solid fa-plus"
                    ></i
                  ></span>
                </h6>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-4 mb-4" *ngFor="let matiere of matieres">
              <div class="card bg-dark section text-white shadow">
                <div class="card-body">
                  {{ matiere.name }}
                  <div class="text-white-50 small">
                    <div class="divsection">
                      <i class="fa-solid fa-pen update"></i>
                      <i class="fa-sharp fa-solid fa-trash delete"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Add Modal -->
      <div
        class="modal fade"
        id="addSectionModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="addSectionModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addSectionModalLabel">Add Section</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form #addForm="ngForm" (ngSubmit)="onAddSection(addForm)">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input
                    type="text"
                    ngModel
                    name="sectionName"
                    class="form-control"
                    id="name"
                    placeholder="Section name"
                    required
                  />
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    id="add-Section-form"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                  >
                    Close
                  </button>
                  <button
                    type="submit"
                    [disabled]="addForm.invalid"
                    class="btn btn-primary"
                  >
                    Add Section
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- Edit Modal -->
      <div
        class="modal fade"
        id="updateSectionModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="SectionEditModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="updateSectionModalLabel">
                Edit Section {{ editSection?.sectionName }}
              </h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form #editForm="ngForm" (ngSubmit)="onUpdateSection(editForm)">
                <input
                  type="hidden"
                  ngModel="{{ editSection?.id }}"
                  name="id"
                  class="form-control"
                  id="id"
                />
                <input
                  type="hidden"
                  ngModel="{{ editSection?.matieres }}"
                  name="matieres"
                  class="form-control"
                  id="matieres"
                />

                <div class="form-group">
                  <label for="name">Name</label>
                  <input
                    type="text"
                    ngModel
                    name="sectionName"
                    class="form-control"
                    id="sectionName"
                    value="{{ editSection?.sectionName }}"
                    required
                  />
                </div>
                <div class="modal-footer">
                  <div class="modal-footer">
                    <button
                      type="button"
                      id="update-Section-form"
                      class="btn btn-secondary"
                      data-dismiss="modal"
                    >
                      Close
                    </button>
                    <button
                      type="submit"
                      [disabled]="editForm.invalid"
                      class="btn btn-primary"
                    >
                      Save changes
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!--Delete Modal-->

      <div
        class="modal fade"
        id="deleteSectionModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="deleteModelLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModelLabel">Delete Section</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to delete the Section ?</p>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary">No</button>
                <button
                  (click)="onDeleteSection(deleteSection?.id)"
                  class="btn btn-danger"
                  data-dismiss="modal"
                >
                  Yes
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
